.git
.gitignore
.venv
.cache
.temp
.mypy_cache
.pytest_cache
.ruff_cache
data/recordings/*
!data/recordings/.gitkeep
data/jobs/*
!data/jobs/.gitkeep
logs/*
!logs/.gitkeep
dashboard
tests
scratch
docs
*.pyc
__pycache__
.env
